<app-nav></app-nav>
<main class="cs-page-wrapper">
  <!-- section carousel  ************************************************************************************************** -->
  <section class=" mt-3 pb-4 cs-carousel cs-controls-onhover" id="section-carousel">
    <div class="cs-carousel-inner" data-carousel-options=''>
      <!-- Slide 1 -->
      <div class="bg-sl bg-sl-1 ">
        <img class="only-desktop" src="/../../assets/img/inicio/carousel-slider/01.png" alt="">
        <img class="only-movil" src="/../../assets/img/inicio/carousel-slider/01-movil.jpg" alt="">

      </div>

      <!-- Slide 2 -->
      <div class="bg-sl bg-sl-2">
        <img class="only-desktop" src="/../../assets/img/inicio/carousel-slider/02.png" alt="">
        <img class="only-movil" src="/../../assets/img/inicio/carousel-slider/02-movil.png" alt="">

      </div>
    </div>



    <!-- Pager -->
    <div class="container ">
      <div class="row mt-lg-n5">
        <div class="col-lg-2 col-md-4 col-sm-6 offset-lg-1 offset-xl-0" style="margin: 0 auto !important;">
          <div class="position-relative">
            <div id="pager" class="pb-5 cs-pager cs-pager-inverse ">
              <button type="button" data-nav="0"></button>
              <button type="button" data-nav="1"></button>
              <!-- <button type="button" data-nav="2"></button>
              <button type="button" data-nav="3"></button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- SECCION CALL  ************************************************************************************************* -->
  <section class="pb-0 mt-5 container-fluid " id="section-call">
    <div class="container py-2 text-center">

      <div class="section-call__phone">
        <span class="section-call__text"> Venta telefónica</span>
        <img class="section-call__img" src="../../../assets/img/icons/icono-phone.png" alt="">
        <span class="section-call__number">(01) 562 9875</span>
      </div>
      <div class="section-call__phone">
        <span class="section-call__text"> y venta por whatsApp</span>
        <img class="section-call__img" src="../../../assets/img/icons/icono-wsp.png" alt="">
        <span class="section-call__number">983 505 608</span>
      </div>

    </div>
  </section>


  <!-- SECCION INFO FERRI  ************************************************************************************************* -->
  <section class="pb-0 mt-0 container-fluid " id="section-info">
    <div class="container pt-4 pb-0">

      <app-info></app-info>
      <!-- <app-info></app-info>
        <app-info></app-info>
        <app-info></app-info>
      </div> -->
    </div>
  </section>

  <!-- SECCION DESCRIPCION CATEGORIAS  *************************************************************************************-->
  <section class="py-0 mt-0 mb-5 container-fluid" id="section-desc-categorias">
    <div class="container">
      <section class="my-1 card-category" *ngFor="let principal of principales.slice(0,1)">
        <div class="card-category-header cat-header-hover cat-header-hover-mb">
          <div class="category-name">
            <a [routerLink]="['/categoria/', principal.id]">
              <i class="mr-2 fas fa-wrench"></i>
              <span>
                {{principal.name}}
              </span>
            </a>
          </div>
          <div class="category-button d-none d-md-block ">
            <a [routerLink]="['/categoria/', principal.id]">Ver todo
              <i class="ml-3 fas fa-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="mt-3 card-category-products">


          <div class="row" *ngIf="load_data_px">
            <div class="text-center col-12">
              <!-- Custom size border spinner -->
              <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden"></span>
              </div>

            </div>
          </div>

          <div class="list-product-cart" *ngIf="!load_data_px">
            <!-- *ngFor="let producto of productos" -->
            <div class="card-product-category" *ngFor="let producto of productos">
              <app-item-product [product]="producto"></app-item-product>
            </div>
          </div>


        </div>

      </section>
    </div>
  </section>

  <!-- Seccion descuento  ************************************************************************************************** -->

  <section class="w-100" id="section-discount">
    <app-discount></app-discount>
  </section>




  <!-- Seccion form ************************************************************************************************** -->

  <section class="w-100" id="section-form-product">
    <app-form-product></app-form-product>
  </section>

  <!-- Seccion Oferta por tiempo limitado  ************************************************************************************************** -->

  <section class="py-5 my-0 container-fluid" id="section-offer">
    <div class="container">
      <app-oferta></app-oferta>
    </div>
  </section>

  <!-- Seccion regalo ************************************************************************************************** -->

  <section class="py-5 my-0 container-fluid" id="section-regalo">
    <div class="container">
      <div class="regalos__list justify-content-center">
        <app-regalo *ngFor="let regalo of regalos" [precio]="regalo.precio" [contenido]="regalo.contenido"></app-regalo>
      </div>
    </div>
  </section>
  <!-- New arrivals -->
  <section class="pb-5 mb-3 container-fluid px-xl-grid-gutter mb-sm-4 mt-md-0 mb-lg-5 py-lg-4 d-none">
    <div class="container">
      <div class="pb-2 mb-5 text-center">
        <h2 class="h1">Nuestros productos más destacados</h2>
        <p class="mb-1 font-size-lg text-muted">Echa un vistazo a nuestras últimas llegadas para la próxima temporada.
        </p>
        <a [routerLink]="['/productos']" class="font-size-lg">Ver la colección aquí</a>
      </div>

      <!-- Product carousel -->
      <div class="cs-carousel cs-nav-outside">
        <div class="cs-carousel-inner cs-carousel-inner-three" data-carousel-options='{

          }'>

          <!-- Item -->
          <div *ngFor="let producto of productos">
            <div class="card card-product">
              <div class="card-product-img">
                <a [routerLink]="['/productos/', producto.id]" class="card-img-top">
                  <img src={{producto.ruta}} alt="Product image">
                </a>
                <div class="card-product-widgets-top">
                  <div class="star-rating">
                    <i class="sr-star cxi-star-filled active"></i>
                    <i class="sr-star cxi-star-filled active"></i>
                    <i class="sr-star cxi-star-filled active"></i>
                    <i class="sr-star cxi-star-filled active"></i>
                    <i class="sr-star cxi-star-filled active"></i>
                  </div>
                </div>
                <div class="card-product-widgets-bottom">
                  <a href="#" class="ml-auto btn-wishlist" data-toggle="tooltip" data-placement="left"
                    title="Add to wishlist"></a>
                </div>
              </div>
              <div class="card-body">
                <h3 class="mb-2 card-product-title text-truncate">
                  <a [routerLink]="['/productos/', producto.id]" class="nav-link">{{producto.name}}</a>
                </h3>
                <div class="d-flex align-items-center">
                  <span class="mb-0 h5 d-inline-block text-danger">
                    S/.{{producto.precio}}
                  </span>
                  <del class="pl-1 ml-2 d-inline-block text-muted">
                    S/.{{producto.precio}}
                  </del>
                </div>
                <!-- <div class="d-flex align-items-center">
                  <span class="mb-0 h5 d-inline-block">S/.{{producto.precio}}</span>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Trending products (carousel) -->
  <section class="pb-5 mb-3 container-fluid px-xl-grid-gutter mb-sm-4 mt-md-0 mb-lg-5 py-lg-4 d-none"
    style="background-color: #e5e8ed;">
    <div class="container">
      <div class="mb-5 d-flex align-items-center justify-content-between pb-sm-1">
        <h2 class="mb-0 h1">Productos más vendidos</h2>
        <div class="tns-custom-controls cs-controls-inverse" id="custom-controls-trending" tabindex="0">
          <button type="button" data-controls="prev" tabindex="-1">
            <i class="cxi-arrow-left"></i>
          </button>
          <button type="button" data-controls="next" tabindex="-1">
            <i class="cxi-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="pb-2 cs-carousel">
        <div class="cs-carousel-inner cs-carousel-inner-four" data-carousel-options='{  }'>

          <!-- Item -->
          <div *ngFor="let producto of productos">
            <div class="mx-auto card card-product">
              <div class="card-product-img">
                <a [routerLink]="['/productos/', producto.id]" class="card-img-top">
                  <img src={{producto.ruta}} alt="Product image">
                </a>
                <div class="card-product-widgets-top">
                  <div class="ml-auto star-rating">
                    <i class="sr-star cxi-star-filled active"></i>
                    <i class="sr-star cxi-star-filled active"></i>
                    <i class="sr-star cxi-star-filled active"></i>
                    <i class="sr-star cxi-star-filled active"></i>
                    <i class="sr-star cxi-star-filled active"></i>
                  </div>
                </div>
                <div class="card-product-widgets-bottom">
                  <a href="#" class="ml-auto btn-wishlist" data-toggle="tooltip" data-placement="left"
                    title="Add to wishlist"></a>
                </div>
              </div>
              <div class="pb-2 card-body bg-0">
                <h3 class="mb-2 card-product-title text-truncate">
                  <a [routerLink]="['/productos/', producto.id]" class="nav-link">{{producto.name}}</a>
                </h3>
                <div class="d-flex align-items-center">
                  <span class="mb-0 h5 d-inline-block text-danger">
                    S/.{{producto.precio}}
                  </span>
                  <del class="pl-1 ml-2 d-inline-block text-muted">
                    S/.{{producto.precio}}
                  </del>
                </div>
                <!-- <div class="d-flex align-items-center">
                  <span class="mb-0 h5 d-inline-block">S/.{{producto.precio}}</span>
                </div> -->
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="pt-4 text-center pt-md-5">
        <a [routerLink]="['/productos']" class="btn btn-outline-primary btn-lg">Ver productos</a>
      </div>
    </div>
  </section>

  <!-- Popular categories ************************************************************************************************** -->
  <section class="container py-3 mt-1 mb-3 my-sm-4 d-none">
    <h2 class="pb-3 mb-5 text-center h1">Categorías destacadas</h2>
    <div class="cs-carousel cs-nav-outside">
      <div class="cs-carousel-inner cs-carousel-inner-five" data-carousel-options='{

        }'>

        <!-- Category -->
        <div class="pb-2" *ngFor="let item of principales">
          <a [routerLink]="['/categoria/', item.id]" class="text-center d-block cs-image-scale cs-heading-highlight">
            <div class="mx-auto mb-4 cs-image-inner rounded-circle parent-img-category" style="max-width: 180px;">
              <img src={{item.ruta}} alt=" {{item.name}}">
            </div>
            <h3 class="mb-3 h5">{{item.name}}</h3>
          </a>
        </div>

      </div>
    </div>
  </section>
  <!-- Seccion sentence ************************************************************************************************** -->

  <section class="w-100 mt-2" id="sentence">
    <div class="container">
      <div class="row text-center">
        <div class="text-center col-lg-12">
          <button type="submit" class="btn btn-2"> Accede a nuestra tienda virtual
          </button>
        </div>
      </div>
      <div class="sentence-text">
        <div class="mx-auto text-center col-12 col-md-9 col-lg-8">
          <h4> Peruanos ayudando a más peruanos a surtir tu ferretería... </h4>
        </div>
      </div>
    </div>
  </section>


</main>
<app-footer></app-footer>
