/* SECCION SLIDER CAROUSEL FERRI ================================================================================= */
.cs-carousel-inner {
  position: relative;
}

.cs-carousel-inner div {
  display: flex;
  justify-content: center;
}

@media (min-width: 1300px) {
  .cs-carousel-inner div img {
    width: 1300px;
  }
}

.btn-outline-primary {
  background-color: black;
  color: #fff;
}

.btn-outline-primary:hover {
  background-color: #00aa8e;
  color: #fff;
  border: none;
}

/* SECCION CALL ================================================================================= */
#section-call {
  background: rgb(20, 153, 10);
  background: linear-gradient(
    90deg,
    rgba(20, 153, 10, 1) 0%,
    rgba(110, 208, 92, 1) 54%,
    rgba(20, 153, 10, 1) 100%
  );
}
#section-call .section-call__phone {
  display: inline;
}
#section-call .section-call__text {
  font-size: 28px;
  color: #fff;
  font-weight: 400;
}
#section-call .section-call__img {
  width: 50px;
  margin: 0 10px;
  position: relative;
  bottom: 4px;
}

#section-call .section-call__number {
  font-size: 28px;
  font-weight: 800;
  color: #fcf351;
  margin-right: 5px;
}

@media (max-width: 1100px) {
  #section-call .section-call__text {
    font-size: 25px;
  }
  #section-call .section-call__img {
    width: 40px;
  }
  #section-call .section-call__number {
    font-size: 25px;
  }
}

@media (max-width: 991px) {
  #section-call .section-call__phone {
    display: block;
  }
  #section-call {
    margin-top: 0px !important;
  }
}

@media (max-width: 510px) {
  .section-call__text {
    display: block;
  }
}
/* SECCION INFO FERRI ================================================================================= */
#section-info,
#section-carousel,
#section-desc-categorias {
  background-color: #f2f2f2;
}

/* SECCION DESCRIPCION CATEGORIAS FERRI ================================================================================= */
#section-desc-categorias {
  background-color: #f2f2f2;
}

.card-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1242px;
}

/* ************* category header */

.card-category-header {
  background: rgb(4, 209, 168);
  background: linear-gradient(
    90deg,
    rgba(4, 209, 168, 1) 0%,
    rgba(19, 168, 140, 1) 100%
  );
  height: 45px;
  width: 100%;
  border-radius: 40px;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  position: relative;
}
.card-category-header .category-name {
  border-radius: 40px;
  font-size: 22px;
  display: flex;
  height: 45px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 1;
}
.card-category-header:hover .category-name:hover:before {
  width: 100%;
}
.card-category-header .category-name:before {
  width: 0%;
  background-color: #04d1a8;
  transition: all 0.5s;
  z-index: -1;
}

.card-category-header .category-name:after {
  width: 100%;
  background-color: #32a28c;
  z-index: -2;
}

.card-category-header .category-name:before,
.card-category-header .category-name:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  border-radius: 10rem;
}
.card-category-header .category-name a {
  padding: 5px 13px;
  text-decoration: none;
  color: #fff;
}

/* ************* category button */

.card-category-header .category-button {
  border-radius: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 172px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 1;
}

.card-category-header .category-button:hover:before {
  width: 100%;
}
.card-category-header .category-button:before {
  width: 0%;
  background-color: #04d1a8;
  transition: all 0.5s;
  z-index: -1;
}
.card-category-header .category-button:after {
  width: 100%;
  background-color: #32a28c;
  z-index: -2;
}
.card-category-header .category-button:after,
.card-category-header .category-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  border-radius: 10rem;
}

.card-category-header .category-button a {
  display: inline-flex;
  justify-content: inherit;
  align-items: center;
  height: 45px;
  width: 172px;
  text-decoration-line: none;
  color: #fff;
}

/* ************* category products */

.card-product-category {
  padding: 7px;
  border-radius: 25px;
}
.card-category-products {
  width: 100%;
}
.list-product-cart {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

/* SECCION DESCUENTO  ================================================================================= */
#section-discount {
  margin-top: 20px;
}
#section-form-product {
  margin-top: 40px;
}

/* SECCION CATEGORIAS POPULARES ================================================================================= */

.parent-img-category > img {
  height: 180px;
}

/* SECCION OFERTA POR TIEMPO LIMITADO ================================================================================= */
#section-offer {
  background-color: #fff;
}
#section-offer .container {
  width: 90%;
}

/* SECCION REGALO ================================================================================================== */

.regalos__list {
  display: flex;
  gap: 20px;
  place-items: center;
  flex-wrap: wrap;
}
