/* VALIDACIONES ================================================================================================= */
.alert-danger-customizer {
  color: #104a4b;
  margin-bottom: 5px;
}

.container-error-message {
  font-size: 13px;
  padding: 3px;
  font-weight: 600;
}
