<app-nav></app-nav>

<main class="cs-page-wrapper">
  <nav class="mb-3 bg-secondary" aria-label="breadcrumb">
    <div class="container">
      <ol class="mb-0 breadcrumb breadcrumb-alt">
        <li class="breadcrumb-item">
          <a href="index.html"><i class="cxi-home"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Registro</li>
      </ol>
    </div>
  </nav>

  <section class="container pt-3 pb-3 mb-4 pt-md-4 pb-sm-4 pb-lg-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="px-md-5">
          <h3 class="mt-4 mb-0 text-center modal-title mb-2">Regístrate</h3>
          <!-- <p class="text-center font-size-sm text-muted">Sign in to your account using email and password provided
            during registration.</p> -->
          <form [formGroup]="userForm" (ngSubmit)="onSaveForm()">
            <div class="form-group">
              <div class="row">
                <div class="col-lg-6">
                  <label for="signin-email">Nombres completos</label>
                  <input type="email" class="form-control" placeholder="Nombres completos" required=""
                    formControlName="nombres">
                  <div class="alert-danger-customizer" *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
                    <div class="container-error-message" *ngIf="nombres.errors.required">
                      Campo requerido
                    </div>
                    <div class="container-error-message" *ngIf="nombres.errors.minlength">
                      Mínimo 5 caracteres
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label for="signin-email">Apellidos completos</label>
                  <input type="email" class="form-control" placeholder="Apellidos completos" required=""
                    formControlName="apellidos">
                  <div class="alert-danger-customizer"
                    *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
                    <div class="container-error-message" *ngIf="apellidos.errors.required">
                      Campo requerido
                    </div>
                    <div class="container-error-message" *ngIf="apellidos.errors.minlength">
                      Mínimo 5 caracteres
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="signin-email">Correo electrónico</label>
              <input type="email" class="form-control" placeholder="Correo electrónico" required=""
                formControlName="email">
              <div class="alert-danger-customizer" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div class="container-error-message" *ngIf="email.errors.required">
                  Campo requerido
                </div>
                <div class="container-error-message"
                  *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                  Formato inválido
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="signin-password" class="form-label">Contraseña</label>
              <div class="cs-password-toggle input-group-overlay">
                <input type="password" class="form-control appended-form-control" id="register-password"
                  placeholder="Contraseña" required="" formControlName="password">
                <div class="input-group-append-overlay">
                  <label class="btn cs-password-toggle-btn input-group-text">
                    <input type="checkbox" class="custom-control-input">
                    <i class="cxi-eye cs-password-toggle-indicator"></i>
                    <span class="sr-only">Show password</span>
                  </label>
                </div>
              </div>
              <div class="alert-danger-customizer" *ngIf="password.invalid && (password.dirty || password.touched)">
                <div class="container-error-message" *ngIf="password.errors.required">
                  Campo requerido
                </div>
                <div class="container-error-message" *ngIf="password.errors.minlength">
                  Mínimo 8 caracteres
                </div>
              </div>
            </div>
            <!-- <div class="d-flex justify-content-between align-items-center form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="remember-me" checked="">
                <label for="remember-me" class="custom-control-label">Recordar constraseña</label>
              </div>
              <a href="#" class="font-size-sm text-decoration-none">Forgot password?</a>
            </div> -->
            <button type="submit" class="btn btn-primary btn-block">Registrarme</button>
            <p class="pt-4 mb-0 font-size-sm">
              Ya tienes una cuenta?
              <a [routerLink]="['/login']" class="font-weight-bold text-decoration-none">Inicia Sesión</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>

</main>

<app-footer></app-footer>
