<!-- Footer -->
<footer class="pt-4 cs-footer pt-sm-5 bg-dark">
  <div class="container pt-3">
    <div class="row pb-sm-2">
      <div class="mb-4 col-6 col-sm-3 col-lg-2">
        <h3 class="pb-1 mb-2 h6 text-uppercase text-light">Información</h3>
        <ul class="nav nav-light flex-column">
          <li class="mb-2 nav-item">
            <a href="https://ferri.pe" target="_blank" class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">Quiero
              comprar en
              Ferri</a>
          </li>
          <li class="mb-2 nav-item">
            <a href="https://ferri.pe/vender-ferri/index.html" target="_blank"
              class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">Quiero vender en Ferri</a>
          </li>
          <li class="mb-2 nav-item">
            <a href="https://ferri.pe/maestro-ferri/index.html" target="_blank"
              class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">Quiero ser maestro Ferri</a>
          </li>
          <li class="mb-2 nav-item">
            <a href="#" class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">Política de privacidad</a>
          </li>
          <li class="mb-2 nav-item">
            <a href="#" class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">Términos y condiciones</a>
          </li>
        </ul>
      </div>
      <div class="mb-4 col-6 col-sm-3 col-lg-2 col-xl-3">
        <h3 class="pb-1 mb-2 h6 text-uppercase text-light pl-xl-6">Nosotros</h3>
        <ul class="nav nav-light flex-column pl-xl-6">
          <li class="mb-2 nav-item">
            <a href="#" class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">Portar de ferreteros</a>
          </li>
          <li class="mb-2 nav-item">
            <a href="#" class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">Nuestra Cultura</a>
          </li>
          <li class="mb-2 nav-item">
            <a href="#" class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">Trabaja en Ferri</a>
          </li>
          <li class="mb-2 nav-item">
            <a href="#" class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">Blog</a>
          </li>
          <li class="mb-2 nav-item">
            <a href="https://ferri.pe/transporte-ferri/index.html" target="_blank"
              class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">Conviértete en transporte de Ferri</a>
          </li>
        </ul>
      </div>
      <div class="pb-2 mb-4 col-sm-6 col-lg-3 pb-lg-0">
        <h3 class="pb-1 mb-2 h6 text-uppercase text-light">Contáctanos</h3>
        <ul class="pb-3 nav nav-light flex-column">
          <li class="mb-2 nav-item text-nowrap">
            <span class="mr-1 text-light">Ubicación:</span>
            <a href="mailto:support@example.coms"
              class="p-0 nav-link d-inline-block mr-lg-0 mr-sm-4 font-weight-normal">Jr los Ñandues 175 Surquillo</a>
          </li>
          <li class="mb-2 nav-item text-nowrap">
            <span class="mr-1 text-light">Llámanos al</span>
            <a href="tel:4055550128"
              class="p-0 nav-link d-inline-block mr-lg-0 mr-sm-4 font-weight-normal">999-999-999</a>
          </li>
          <li class="mb-2 nav-item text-nowrap">
            <span class="mr-1 text-light">Escríbenos a:</span>
            <a href="mailto:support@example.coms"
              class="p-0 nav-link d-inline-block mr-lg-0 mr-sm-4 font-weight-normal">contacto@ferri.pe</a>
          </li>

        </ul>
        <h3 class="pb-1 mb-2 h6 text-uppercase text-light">Síguenos en</h3>

        <a href="https://www.facebook.com/Ferri-101178789026021" target="_blank"
          class="mr-2 social-btn sb-solid sb-light">
          <i class="cxi-facebook"></i>
        </a>
        <a href="https://www.instagram.com/ferri_pe/?hl=es" target="_blank" class="mr-2 social-btn sb-solid sb-light">
          <i class="cxi-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/company/ferri-pe/?viewAsMember=true" target="_blank"
          class="mr-2 social-btn sb-solid sb-light">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <div class="mb-4 col-lg-4 col-xl-3">
        <h3 class="pb-1 mb-3 h6 text-uppercase text-light">Próximamente gratis en: </h3>
        <div class="flex-wrap d-flex flex-sm-nowrap">
          <a href="#" class="mb-3 mr-3 btn-market btn-apple" role="button">
            <span class="btn-market-subtitle">Descargar de la</span>
            <span class="btn-market-title">App Store</span>
          </a>
          <a href="#" class="mb-3 mr-3 btn-market btn-google" role="button">
            <span class="btn-market-subtitle">Disponible en</span>
            <span class="btn-market-title">Google Play</span>
          </a>
          <!-- <a href="#" class="mb-3 btn-market btn-google" role="button">
            <span class="btn-market-subtitle">Explora aquì</span>
            <span class="btn-market-title">AppGallery</span>
          </a> -->
        </div>
      </div>
    </div>
  </div>

</footer>
