<!-- Footer -->
<footer class="pt-4 cs-footer pt-sm-5 bg-dark">
  <div class="container pt-3">
    <div class="row pb-sm-2">
      <div class="mb-4 col-6 col-sm-3 col-lg-2">
        <h3 class="pb-1 mb-2 h6 text-uppercase text-light">Help</h3>
        <ul class="nav nav-light flex-column">
          <li class="mb-2 nav-item">
            <a href="#" class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">Delivery &amp; returns</a>
          </li>
          <li class="mb-2 nav-item">
            <a href="contacts.html" class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">FAQ</a>
          </li>
          <li class="mb-2 nav-item">
            <a href="order-tracking.html" class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">Track order</a>
          </li>
          <li class="mb-2 nav-item">
            <a href="blog.html" class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">Blog</a>
          </li>
          <li class="mb-2 nav-item">
            <a href="contacts.html" class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">Contacts</a>
          </li>
        </ul>
      </div>
      <div class="mb-4 col-6 col-sm-3 col-lg-2 col-xl-3">
        <h3 class="pb-1 mb-2 h6 text-uppercase text-light pl-xl-6">Shop</h3>
        <ul class="nav nav-light flex-column pl-xl-6">
          <li class="mb-2 nav-item">
            <a href="#" class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">New arrivals</a>
          </li>
          <li class="mb-2 nav-item">
            <a href="#" class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">Trending now</a>
          </li>
          <li class="mb-2 nav-item">
            <a href="#" class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">Sales</a>
          </li>
          <li class="mb-2 nav-item">
            <a href="#" class="p-0 nav-link mr-lg-0 mr-sm-4 font-weight-normal">Brands</a>
          </li>
        </ul>
      </div>
      <div class="pb-2 mb-4 col-sm-6 col-lg-3 pb-lg-0">
        <h3 class="pb-1 mb-2 h6 text-uppercase text-light">Get in Touch</h3>
        <ul class="pb-3 nav nav-light flex-column">
          <li class="mb-2 nav-item text-nowrap">
            <span class="mr-1 text-light">Call:</span>
            <a href="tel:4055550128" class="p-0 nav-link d-inline-block mr-lg-0 mr-sm-4 font-weight-normal">(405)
              555-0128</a>
          </li>
          <li class="mb-2 nav-item text-nowrap">
            <span class="mr-1 text-light">Email:</span>
            <a href="mailto:support@example.coms"
              class="p-0 nav-link d-inline-block mr-lg-0 mr-sm-4 font-weight-normal">support@example.com</a>
          </li>
        </ul>
        <a href="#" class="mr-2 social-btn sb-solid sb-light">
          <i class="cxi-facebook"></i>
        </a>
        <a href="#" class="mr-2 social-btn sb-solid sb-light">
          <i class="cxi-instagram"></i>
        </a>
        <a href="#" class="mr-2 social-btn sb-solid sb-light">
          <i class="cxi-twitter"></i>
        </a>
        <a href="#" class="mr-2 social-btn sb-solid sb-light">
          <i class="cxi-youtube"></i>
        </a>
        <a href="#" class="social-btn sb-solid sb-light">
          <i class="cxi-pinterest"></i>
        </a>
      </div>
      <div class="mb-4 col-lg-4 col-xl-3">
        <h3 class="pb-1 mb-3 h6 text-uppercase text-light">Download our App</h3>
        <div class="flex-wrap d-flex flex-sm-nowrap">
          <a href="#" class="mb-3 mr-3 btn-market btn-apple" role="button">
            <span class="btn-market-subtitle">Download on the</span>
            <span class="btn-market-title">App Store</span>
          </a>
          <a href="#" class="mb-3 btn-market btn-google" role="button">
            <span class="btn-market-subtitle">Download on the</span>
            <span class="btn-market-title">Google Play</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</footer>
