<app-nav></app-nav>
<main class="cs-page-wrapper">
  <!-- Breadcrumb -->
  <nav class="mb-3 bg-secondary" aria-label="breadcrumb">
    <div class="container">
      <ol class="mb-0 breadcrumb breadcrumb-alt">
        <li class="breadcrumb-item">
          <a href="index.html"><i class="cxi-home"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
      </ol>
    </div>
  </nav>


  <!-- Page content -->
  <section class="container pt-3 pb-3 mb-4 pt-md-4 pb-sm-4 pb-lg-5">
    <div class="row">

      <!-- Checkout content -->
      <div class="col-lg-8 pr-lg-6">
        <div class="pb-2 mb-4 d-flex align-items-center justify-content-between">
          <h1 class="mb-0">Checkout</h1>
          <a [routerLink]="['/productos']"><strong>Seguir comprando</strong></a>
        </div>

        <hr class="pt-2 mb-4 border-top-0 border-bottom">

        <!-- Order review -->
        <h2 class="mb-4 h4">1. Detalles del pedido</h2>

        <ng-container *ngIf="carrito_load">
          <div class="p-3 mb-5 rounded bg-secondary">
            <div class="row">
              <div class="text-center col-12">
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                  <span class="visually-hidden"></span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="!carrito_load">
          <div class="mb-5 rounded bg-secondary" *ngIf="data_carrito_compras.length>=1">
            <!-- Item -->
            <div class="px-2 py-4 media px-sm-4 border-bottom" *ngFor="let item of data_carrito_compras">
              <a [routerLink]="['/productos', item.producto]" style="min-width: 80px;">
                <img src={{item.ruta}} width="80" alt="Product thumb">
              </a>
              <div class="pl-3 media-body w-100">
                <div class="d-sm-flex">
                  <div class="pr-sm-3 w-100" style="max-width: 16rem;">
                    <h3 class="mb-3 font-size-sm">
                      <a [routerLink]="['/productos', item.producto]"
                        class="nav-link font-weight-bold">{{item.name}}</a>
                    </h3>
                    <ul class="mb-2 list-unstyled font-size-xs mt-n2">
                      <li class="mb-0"><span class="text-muted">{{item.titulo_variedad}}:</span> {{item.variedad}}</li>
                    </ul>
                  </div>
                  <div class="d-flex pr-sm-3">
                    <input type="number" class="mr-3 form-control form-control-sm bg-light" style="width: 4.5rem;"
                      value="{{item.cantidad}}" readonly>
                    <!-- <div class="pt-2 text-nowrap"><strong class="text-danger">$15.00</strong> -->
                    <span class="font-size-xs text-muted"
                      style="font-size: 1.2rem !important;">S/.{{item.precio}}</span>
                  </div>
                  <div class="pt-3 d-flex align-items-center flex-sm-column text-sm-center ml-sm-auto pt-sm-0">
                    <button (click)="eliminar_item(item.id)"
                      class="mr-2 btn btn-outline-primary btn-sm mr-sm-0">Eliminar</button>
                    <button class="px-0 pt-0 pb-0 mt-0 btn btn-link btn-sm text-decoration-none pt-sm-2 mt-sm-1">
                      Mover a
                      <i class="ml-1 cxi-heart"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="px-3 py-4 text-right px-sm-4">
              <span class="text-muted">Subtotal:<strong class="ml-2 text-dark font-size-lg">$198.65</strong></span>
            </div> -->
          </div>

          <div class="p-3 mb-5 rounded bg-secondary" *ngIf="data_carrito_compras.length==0">
            <div class="row">
              <div class="col-lg-3">

                <img src="assets/img/carrito-de-compras.png" alt="" style="width:100%;">
              </div>
              <div class="my-auto col-lg-9">

                <dl style="font-size : 1.5rem !important;">
                  <dt>¡No tienes productos en tu carrito! 😯</dt>
                  <dd>Una vez que agregues productos, los veras reflejados aquí</dd>
                </dl>
              </div>
            </div>
          </div>

        </ng-container>




        <!-- Adresses -->
        <h2 class="mb-4 h4">2. Dirección de envío</h2>
        <div class="pb-3 row">
          <div class="col-12">

            <div class="card">
              <div class="card-body">

                <div class="row" *ngIf="direccion_principal ==undefined">
                  <h3>No tiene una dirección principal</h3>

                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <dl>
                      <dt>Destinatario</dt>
                      <dd>{{direccion_principal.destinatario}}</dd>
                      <dt>Dirección</dt>
                      <dd>{{direccion_principal.direccion}}</dd>
                      <dd>{{direccion_principal.pais}}
                        <span> {{direccion_principal.region}}</span> -
                        <span> {{direccion_principal.provincia}}</span> -
                        <span> {{direccion_principal.distrito}}</span>
                      </dd>

                      <dt>ZIP - Teléfono</dt>
                      <dd>{{direccion_principal.zip}} - {{direccion_principal.telefono}}</dd>
                    </dl>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <hr class="pb-2 mb-4">

        <!-- Shipping -->
        <h2 class="mb-4 h4">3. Métodos de Envío</h2>
        <div class="mb-3 custom-control custom-radio" *ngFor="let item of envios">
          <input (change)="calcular_total(item.titulo)" type="radio" class="custom-control-input" id="courier"
            name="precio_envio" [(ngModel)]="precio_envio" value="{{item.precio}}">
          <label for="courier" class="custom-control-label d-flex align-items-center">
            <span>
              <strong class="d-block">{{item.titulo}} </strong>
              <span class="text-muted font-size-sm">{{item.tiempo}} </span>
            </span>
            <span class="ml-auto">S/. {{item.precio}} </span>
          </label>
        </div>

        <hr class="pt-4 mb-4 border-top-0 border-bottom">

        <!-- Payment -->
        <h2 class="pt-2 mb-4 h4">4. Métodos de Pago</h2>
        <div class="pb-4 row">
          <div class="col-lg-7">
            <div class="accordion-alt" id="payment-methods">

              <!-- Card: Credit card -->
              <div class="px-4 py-3 mb-3 border rounded card box-shadow-sm">
                <div class="py-2 card-header">
                  <div class="accordion-heading custom-control custom-radio" data-toggle="collapse"
                    data-target="#cc-card">
                    <input type="radio" class="custom-control-input" id="cc" name="payment" checked>
                    <label for="cc" class="custom-control-label d-flex align-items-center">
                      <strong class="mr-3 d-block">Credit card</strong>
                      <img src="assets/img/cards.png" width="108" alt="Credit cards">
                    </label>
                  </div>
                </div>
                <div class="collapse show" id="cc-card" data-parent="#payment-methods">
                  <div class="pt-3 pb-0 card-body">
                    <div class="mb-3 form-group">
                      <label for="cc-number">Card number</label>
                      <input name="ncard" [(ngModel)]="card_data.ncard" type="text" id="cc-number"
                        class="form-control form-control-lg" data-format="card" placeholder="0000 0000 0000 0000">
                    </div>
                    <div class="d-flex">
                      <div class="mb-3 mr-3 form-group">
                        <label for="cc-exp-date">Expiry date</label>
                        <input name="exp" [(ngModel)]="card_data.exp" type="text" id="cc-exp-date"
                          class="form-control form-control-lg" data-format="date" placeholder="mm/yyyy">
                      </div>
                      <div class="mb-3 form-group">
                        <label for="cc-cvc">CVC</label>
                        <input name="cvc" [(ngModel)]="card_data.cvc" type="text" id="cc-cvc"
                          class="form-control form-control-lg" data-format="cvc" placeholder="000">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Card: PayPal -->
              <div class="px-4 py-3 mb-3 border rounded card box-shadow-sm">
                <div class="py-2 card-header">
                  <div class="accordion-heading custom-control custom-radio" data-toggle="collapse"
                    data-target="#paypal-card">
                    <input type="radio" class="custom-control-input" id="paypal" name="payment">
                    <label for="paypal" class="custom-control-label d-flex align-items-center">
                      <strong class="mr-3 d-block">PayPal</strong>
                      <img src="assets/img/paypal-badge.png" width="48" alt="PayPal">
                    </label>
                  </div>
                </div>
                <div class="collapse" id="paypal-card" data-parent="#payment-methods">
                  <div class="pt-3 pb-0 card-body" #paypalButton>

                  </div>
                </div>
              </div>

              <!-- Card: Cash -->
              <div class="px-4 py-3 mb-3 border rounded card box-shadow-sm">
                <div class="py-2 card-header">
                  <div class="accordion-heading custom-control custom-radio" data-toggle="collapse"
                    data-target="#cash-card">
                    <input type="radio" class="custom-control-input" id="cash" name="payment">
                    <label for="cash" class="custom-control-label">
                      <strong class="mr-3 d-block">Cash on delivery</strong>
                    </label>
                  </div>
                </div>
                <div class="collapse" id="cash-card" data-parent="#payment-methods">
                  <div class="pt-3 pb-0 card-body">
                    <p class="mb-2 text-muted">You have selected to pay with cash upon delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="pb-2 mb-4">

        <!-- Additional info -->
        <h2 class="mb-4 h4">5. Información Adicional (opcional)</h2>
        <div class="form-group">
          <label for="ch-notes">Mensaje</label>
          <textarea id="ch-notes" class="form-control form-control-lg" rows="5" placeholder="Mensaje" name="nota"
            [(ngModel)]="venta.nota"></textarea>
        </div>
      </div>


      <!-- Order totals (sticky sidebar) -->
      <!-- For more sticky sidebar options visit https://abouolia.github.io/sticky-sidebar/#options -->
      <aside class="col-lg-4">
        <div class="sidebar-sticky">
          <div class="sidebar-sticky-inner">
            <!-- <div class="form-group">
              <label for="promo-code">Apply a promo code</label>
              <div class="input-group input-group-lg">
                <input type="text" id="promo-code" class="form-control" placeholder="Enter promo code">
                <div class="input-group-append">
                  <button type="button" class="btn btn-primary">&nbsp;&nbsp;Apply&nbsp;&nbsp;</button>
                </div>
              </div>
            </div> -->
            <div class="mb-4 rounded bg-secondary">
              <div class="p-4 border-bottom">
                <h2 class="mb-0 h4">Resumen de mi pedido</h2>
              </div>
              <ul class="p-4 mb-0 list-unstyled border-bottom">
                <li class="mb-2 d-flex justify-content-between">
                  <span class="font-weight-bold">Subtotal:</span>
                  <span class="font-weight-bold">S/.{{subtotal}}</span>
                </li>
                <li class="mb-2 d-flex justify-content-between">
                  <span>Envío:</span>
                  <span>S/.{{precio_envio}}</span>
                </li>
                <li class="mb-2 d-flex justify-content-between">
                  <span>Descuento:</span>
                  <span>&mdash;</span>
                </li>
              </ul>
              <div class="p-4 d-flex justify-content-between">
                <span class="mb-0 h5">Total a pagar:</span>
                <span class="mb-0 h5">S/.{{total_pagar}}</span>
              </div>
            </div>
            <ng-container *ngIf="data_carrito_compras.length>=1">
              <button *ngIf="!btn_load" (click)="completar_pedido()" type="button"
                class="btn btn-primary btn-lg btn-block">Completar
                pedido</button>
              <button *ngIf="btn_load" type="button" class="btn btn-secondary btn-lg btn-block">
                <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                Procesando...
              </button>
            </ng-container>

          </div>
        </div>
      </aside>S/.{{subtotal}}
    </div>
  </section>

</main>
<app-footer></app-footer>
