<div class="py-3 list-item-info justify-content-center">
<div class="pb-3 text-center item-info-ferri item-info-1 ">
  <div class="item-icon">
    <img class="" src="../../assets/img/icon-info.png" width="48" alt="icon-info">
  </div>
  <div class="item-info">
    <div class="title-info">
      <h5 class="">ENVÍO GRATIS </h5>
      <div class="content-h4">
        <h4 class="m-0">A todo el Perú</h4>
      </div>

    </div>
    <div class="content-info">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dolores deleniti alias, doloremque
      repellendus dolor maiores ver magna
    </div>
  </div>
</div>
<div class="pb-3 text-center item-info-ferri item-info-2">
  <div class="item-icon">
    <img class="" src="../../assets/img/icon-info.png" width="48" alt="icon-info">
  </div>
  <div class="item-info">
    <div class="title-info">
      <h5 class="">ENVÍO GRATIS </h5>
      <div class="content-h4">
        <h4 class="m-0">A todo el Perú</h4>
      </div>

    </div>
    <div class="content-info">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dolores deleniti alias, doloremque
      repellendus dolor maiores ver magna
    </div>
  </div>
</div>
<div class="pb-3 text-center item-info-ferri item-info-3">
  <div class="item-icon">
    <img class="" src="../../assets/img/icon-info.png" width="48" alt="icon-info">
  </div>
  <div class="item-info">
    <div class="title-info">
      <h5 class="">ENVÍO GRATIS </h5>
      <div class="content-h4">
        <h4 class="m-0">A todo el Perú</h4>
      </div>

    </div>
    <div class="content-info">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dolores deleniti alias, doloremque
      repellendus dolor maiores ver magna
    </div>
  </div>
</div>
<div class="pb-3 text-center item-info-ferri item-info-4">
  <div class="item-icon">
    <img class="" src="../../assets/img/icon-info.png" width="48" alt="icon-info">
  </div>
  <div class="item-info">
    <div class="title-info">
      <h5 class="">ENVÍO GRATIS </h5>
      <div class="content-h4">
        <h4 class="m-0">A todo el Perú</h4>
      </div>

    </div>
    <div class="content-info">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dolores deleniti alias, doloremque
      repellendus dolor maiores ver magna
    </div>
  </div>
</div>
</div>
