<div class="regalo__card">
  <div class="regalo__item">
    <div class="regalo__header">
      <div class="regalo__title">
        Te regalamos
      </div>
      <div class="regalo__precio">
        <div class="regalo__icon">
          <i class="fa fa-gift" aria-hidden="true"></i>
        </div>
        <span> <sup> s/ </sup>80</span>
      </div>
    </div>
    <div class="regalo__footer">
      <div class="regalo__text">

        Lorem ipsum dolor sit amet  <strong> consectetur adipisicing</strong>  elit.
      </div>
    </div>
  </div>
  </div>
