.oferta__card {
  display: flex;
  /* width: 90%; */
  justify-content: center;
}

/* ***** oferta descripcion */

.oferta__descripcion {
  width: 41%;
  padding: 5px;
}

.oferta__icon {
  padding: 8px;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  float: left;

  background: rgb(4, 209, 168);
  background: linear-gradient(
    90deg,
    rgba(4, 209, 168, 1) 0%,
    rgba(19, 168, 140, 1) 100%
  );
}

.oferta__titulo {
  font-size: 35px;
  color: #808080;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.oferta__descripcion__sub {
  background: rgb(4, 209, 168);
  background: linear-gradient(
    90deg,
    rgba(4, 209, 168, 1) 0%,
    rgba(19, 168, 140, 1) 100%
  );
}
.oferta__descripcion__sub h3 {
  color: #fff;
  font-weight: 800;
}
.oferta__descripcion__text {
  color: #808080;
  line-height: 20px;
}
.oferta__descrpicion__button {
  text-align: center;
}
.oferta__btn-1 {
  background-color: #808080;
  color: #fff;
  padding: 5px 15px;
  border: none;
}

/* ***** oferta imagen */
.oferta__imagen {
  padding: 8px;
  width: 41%;
  position: relative;
  margin: auto;
}
.oferta__imagen__text {
  position: absolute;
  top: 20%;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}
.oferta__text1 {
  padding: 5px 10px;
  font-size: 33px;
  background-color: #ff6e00;
  font-weight: 400;
  color: #fff;
}
.oferta__text2 {
  padding: 5px 10px;
  font-weight: 800;
  font-size: 33px;
  background-color: #ff6e00;
  color: #fff;
}
.oferta__imagen__countdown {
  position: absolute;
  bottom: 10%;
  left: 10px;
}

/* ***** oferta detalle */

.oferta__detalle {
  padding: 8px;
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.oferta__producto__name {
  color: #606060;
}
.oferta__producto__desc {
  color: #606060;
}
.oferta__precio {
  background-color: #ff6e00;
  color: #fff;
  padding: 5px 10px;
  border-radius: 7px;
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
}
.oferta__precio_antes {
  color: #606060;
}
.oferta__btn-2 {
  background-color: #2c2c2c;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 7px;
  width: 100%;
}
@media (max-width: 1260px) {
  .oferta__imagen__text {
    top: 40px;
  }

  .oferta__imagen__countdown {
    bottom: 20px;
  }
}
@media (max-width: 1080px) {
  .oferta__precio {
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  .oferta__card {
    flex-wrap: wrap;
  }

  .oferta__descripcion {
    width: 100%;
    margin-bottom: 20px;
  }

  .oferta__imagen {
    width: 60%;
  }

  .oferta__detalle {
    width: 40%;
  }
}
@media (max-width: 720px) {
  .oferta__descripcion {
    width: 100%;
  }

  .oferta__imagen {
    width: 100%;
    margin-bottom: 20px;
  }

  .oferta__detalle {
    width: 100%;
  }
  .oferta__detalle {
    align-items: center;
  }
  .oferta__precio {
    max-width: 200px;
  }
}

@media (max-width: 470px) {
  .oferta__imagen__text {
    margin-top: 20px;
    position: static;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
  }
  .oferta__imagen__text span {
    margin: auto;
  }
  .oferta__imagen__countdown {
    margin-top: 20px;
    position: static;
    display: flex;
  }
  .oferta__imagen__countdown app-timer {
    margin: 0 auto;
  }
}
