<div class="oferta__card d-flex justify-content-center">
  <div class="oferta__descripcion ">
    <div class="oferta__descripcion__titulo">
      <div class="mr-2 oferta__icon">
        <img class="" src="../../assets/img/icon-info-white.png" width="48" alt="icon-info">
      </div>
      <h2 class="my-2 oferta__titulo"> Lorem, ipsum dolor </h2>
    </div>
    <div class="text-center oferta__descripcion__sub">
      <h3> Lorem, ipsum dolor sit amet </h3>
    </div>
    <p class="text-center oferta__descripcion__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic iure dolorum provident autem molestiae
      incidunt totam, molestias sapiente fuga minus maxime nobis placeat alias tenetur ipsum omnis maiores
      blanditiis assumenda!


    </p>
    <div class="oferta__descrpicion__button">
      <button class="oferta__btn-1"> Lorem ipsum</button>
    </div>
  </div>
  <div class="oferta__imagen">
    <img class="" src="../../assets/img/inicio/oferta/oferta.jpg" width="100%" alt="icon-info">

    <div class="oferta__imagen__text">
      <span class="my-0 oferta__text1"> SOLO X</span>
      <span class="my-0 oferta__text2">24 HORAS</span>
    </div>
    <div class="oferta__imagen__countdown">
      <app-timer [date]="tiempoLimite"></app-timer>

    </div>

  </div>
  <div class="oferta__detalle bg-light">
    <h4 class="my-0 oferta__producto__name">BENETTON</h4>
    <h5 class="my-2 oferta__producto__desc">Edredón 1.5 Plz </h5>
    <div class="oferta__precio">
      <span> S/ 1,199</span>
    </div>
    <p class="mt-1 oferta__precio_antes"> ANTES: S/. 4349.90</p>
    <button class="oferta__btn-2"> LO QUIERO </button>

  </div>
</div>
