<div class="modal fade" id="modalConsultarTiendas">
  <div class="modal-dialog ">
  </div>
  <div class="layer-add-to-cart">
    <div class="add-content">
      <div class="header">
        <label class="title">
          Retiro en tienda
        </label>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="body">
        <p class="text-center">
          Selecciona tu ubicación y te mostraremos los puntos de recojo más cercanos
        </p>
      </div>
    </div>

  </div>
</div>
