/* ------------ SEARCH RESULTS ---------------- */
.search-results {
  background-color: var(--main-color-3);
}
.result-item {
  margin: 15px;
  text-align: center;
}
.result-item img {
  max-height: 90px;
  display: block;
  margin: auto;
}
.result-item h3 {
  font-size: 13px;
  margin-top: 10px;
}
.owl-dots {
  display: none;
}

.parent-img-sub-category > img {
  height: 150px;
  width: auto;
}

/* --CONTENIDO PRODUCTOS */
/*
.card-product {
  padding: 7px;
  margin: 0;
}
*/
.card-category-products {
  width: 100%;
}
.list-product-cart {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

@media (max-width: 991px) {
  .content-img,
  .content-text {
    text-align: center;
  }
  .content-img img {
    width: 80%;
    max-width: 500px;
  }
}
