<app-nav></app-nav>
<main class="cs-page-wrapper">
  <!-- Breadcrumb -->
  <nav class="mb-0 bg-secondary" aria-label="breadcrumb">
    <div class="container">
      <ol class="mb-0 breadcrumb breadcrumb-alt">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']"><i class="cxi-home"></i></a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <a [routerLink]="['/categoria/', principalActual.id]"> {{principalActual.name}}</a>
        </li>

        <li *ngIf="subCategoriaActual" class="breadcrumb-item" aria-current="page">
          <a [routerLink]="['/productos/categoria', principalActual.id, categoriaActual.id]">
            {{categoriaActual.name}}</a>
        </li>
        <li *ngIf="!subCategoriaActual" class="breadcrumb-item active" aria-current="page">{{categoriaActual.name}}
        </li>

        <li *ngIf="filter_cat_productos && filter_cat_productos!='todos' " class="breadcrumb-item active"
          aria-current="page">{{filter_cat_productos}}
        </li>

        <li *ngIf="!filter_cat_productos && subCategoriaActual" class="breadcrumb-item active" aria-current="page">
          {{subCategoriaActual.name}}
        </li>

      </ol>
    </div>
  </nav>

  <!-- Contenido de la pagina -->
  <section class="container pt-3 pb-5 mb-2 pb-md-6 mb-lg-0">

    <!-- Toolbar + Paginacion -->
    <div class="pb-2 mb-4 row">
      <div class="mb-3 col-md-3 pr-lg-4 mb-md-0">

        <!-- Show / hide filters on Desktop -->
        <div class="d-lg-block">
          <h3><i class="cxi-filter-1"></i> Filtros:</h3>
        </div>

        <!-- Show / hide filters (off-canvas) on Mobile -->
        <button type="button" class="mt-0 btn btn-primary btn-block d-lg-none" data-toggle="offcanvas"
          data-target="filtersOffcanvas" (click)="show_filter()">
          <i class="mr-1 cxi-filter-2"></i>
          <span id="show-title"> Mostrar filtros</span>
          <span id="hidden-title" class="d-none"> Ocultar filtros</span>
        </button>
      </div>

      <div class="col-md-9">
        <div class="d-flex align-items-center">
          <div class="pt-1 mr-3 form-inline flex-nowrap mr-xl-5">
            <label for="sorting-bottom" class="pr-1 mr-2 font-weight-bold text-nowrap d-none d-md-block">Ordenar
              por</label>
            <select id="sorting-bottom" class="custom-select" name="sort_by" [(ngModel)]="sort_by"
              (change)="ordenar_por()">
              <option value="Defecto">Defecto</option>
              <option value="Popularidad">Popularidad</option>
              <option value="+-Precio">Mayor a menor precio</option>
              <option value="-+Precio">Menor a mayor precio</option>
              <option value="azNombre">A - Z</option>
              <option value="zaNombre">Z - A</option>
            </select>
          </div>

          <div class="mr-3 form-inline flex-nowrap d-none d-sm-flex mr-xl-5">
            <label for="pager-top" class="pr-1 mr-2 font-weight-bold text-nowrap d-none d-lg-block">Ver</label>
            <select id="pager-top" class="custom-select" name="pageSize" [(ngModel)]="pageSize">
              <option value="12" selected>12</option>
              <option value="21">21</option>
              <option value="28">28</option>
            </select>
            <span class="ml-2 font-size-sm text-muted text-nowrap d-none d-lg-block">productos por página</span>
          </div>
          <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="productos.length">
          </ngb-pagination>
        </div>
      </div>
    </div>

    <div class="row flex-lg-nowrap">


      <!-- Filtros (sidebar) -->
      <div id="filtersSidebar" class="col-lg-3 pr-lg-4">
        <div id="filtersOffcanvas" class="cs-offcanvas cs-offcanvas-collapse">
          <div class="mb-3 cs-offcanvas-cap align-items-center border-bottom">
            <h2 class="mb-0 h5">Filtros</h2>
          </div>
          <div class="pb-4 cs-offcanvas-body accordion-alt">

            <!-- Buscar productos -->
            <div class="card border-bottom p-2">
              <div class="py-3 card-header" id="filter-panel">
                <h6 class="accordion-heading">
                  <a href="#filter" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="filter">
                    Buscar producto
                    <span class="accordion-indicator"></span>
                  </a>
                </h6>
              </div>
              <div class="collapse show" id="filter" aria-labelledby="filter-panel">
                <div class="pb-4 cs-widget mt-n3">
                  <!-- Input buscar productos -->
                  <div class="mt-3 input-group-overlay d-lg-block order-lg-3">
                    <input class="form-control appended-form-control" type="text" placeholder="Buscar producto"
                      name="filter_product" [(ngModel)]="filter_product">
                    <div class="input-group-append-overlay"
                      style="cursor:pointer; color: #fff !important;  background: #17696a !important ;"
                      (click)="buscar_producto()">
                      <span class="text-white input-group-text"><i class="align-middle cxi-search lead"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Categorias -->
            <div class="card border-bottom p-2" *ngIf="categoriaActual.subCategorias">
              <div class="pt-0 pb-3 card-header" id="category-panel">
                <h6 class="accordion-heading">
                  <a href="#category" role="button" data-toggle="collapse" aria-expanded="true"
                    aria-controls="category">
                    Categorías
                    <span class="accordion-indicator"></span>
                  </a>
                </h6>
              </div>
              <div class="collapse show" id="category" aria-labelledby="category-panel">
                <div class="cs-widget-data-list cs-filter">
                  <div class="mb-3 input-group-overlay">
                    <input type="text" class="cs-filter-search form-control form-control-sm appended-form-control"
                      placeholder="Buscar categorias" name="filter_category" [(ngModel)]="filter_category"
                      (keyup)="buscar_categorias()">
                    <div class="input-group-append-overlay">
                      <span class="input-group-text">
                        <i class="cxi-search font-size-sm"></i>
                      </span>
                    </div>
                  </div>
                  <ul class="pr-3 cs-filter-list list-unstyled" style="height: 12rem;" data-simplebar
                    data-simplebar-auto-hide="false">
                    <li class="cs-filter-item">
                      <div class="custom-control custom-checkbox">
                        <input type="radio" name="group1" (change)="buscar_por_categoria()" class="custom-control-input"
                          id="blazers-todos" value="todos" [(ngModel)]="filter_cat_productos">
                        <label for="blazers-todos" class="custom-control-label">
                          <span class="cs-filter-item-text">Todos</span>
                          <!-- <span class="pl-1 text-muted">( {{categoria.cantidad}} )</span> -->
                        </label>
                      </div>
                    </li>
                    <li class="cs-filter-item" *ngFor="let sub of categoriaActual.subCategorias; let indice = index">
                      <div class="custom-control custom-checkbox">
                        <input type="radio" name="group1" (change)="buscar_por_categoria()" class="custom-control-input"
                          id="blazers-{{indice}}" value="{{sub.name}}" [(ngModel)]="filter_cat_productos">
                        <label for="blazers-{{indice}}" class="custom-control-label">
                          <span class="cs-filter-item-text">{{sub.name}}</span>
                          <span class="pl-1 text-muted">( {{sub.cantidad}} )</span>
                        </label>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>

            <!-- Precios -->
            <div class="card border-bottom p-2">
              <div class="py-3 card-header" id="price-panel">
                <h6 class="accordion-heading">
                  <a href="#price" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="price">
                    Precios
                    <span class="accordion-indicator"></span>
                  </a>
                </h6>
              </div>
              <div class="collapse show" id="price" aria-labelledby="price-panel">
                <div class="pb-4 pl-1 pr-3 cs-widget mt-n3">
                  <div class="cs-range-slider" data-start-min="250" data-start-max="680" data-min="0" data-max="1000"
                    data-step="1">
                    <div class="cs-range-slider-ui" id="slider"></div>
                    <div class="mt-3 d-flex align-items-center">
                      <div class="w-50">
                        <div class="mb-0 form-group position-relative">
                          <input type="number" class="form-control form-control-sm cs-range-slider-value-min">
                        </div>
                      </div>
                      <div class="px-2 mx-1 font-size-xs">—</div>
                      <div class="w-50">
                        <div class="mb-0 form-group position-relative">
                          <input type="number" class="form-control form-control-sm cs-range-slider-value-max">
                        </div>
                      </div>
                    </div>
                    <div class="mt-3 row">
                      <div class="col-12">
                        <button (click)="buscar_precios()" class="btn btn-primary btn-sm btn-block">Filtrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Product grid -->
      <div class="col">
        <div class="row" *ngIf="load_data">
          <div class="text-center col-12">
            <!-- Custom size border spinner -->
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
              <span class="visually-hidden"></span>
            </div>

          </div>
        </div>

        <div *ngIf="!load_data" class="row" data-filters-columns>

          <ng-container *ngIf="productos.length ==0">
            <div class="col-lg-12 row">

              <div class="col-lg-4">

                <img src="assets/img/no-encontrado.jpg" alt="" style="width:100%;">
              </div>
              <div class="my-auto col-lg-8">

                <dl style="font-size : 1.5rem !important;">
                  <dt>No encontramos tu búsqueda 😯</dt>
                  <dd>Por favor intenta con otro filtro</dd>
                </dl>
              </div>


            </div>
          </ng-container>

          <ng-container *ngIf="productos.length >=1">
            <!-- Item -->
            <div class="list-product-cart" *ngIf="!load_data_px">
              <div class="p-2 mb-2"
                *ngFor="let producto of productos| slice:(page-1)*pageSize : (page-1) * pageSize + pageSize ">
                <app-item-product [product]="producto" [productCarrito]="true"
                  (productModal)="abrirModalAddProduct($event)">
                </app-item-product>
              </div>
            </div>


            <!-- <div class="col pb-sm-2 mb-grid-gutter"
              *ngFor="let producto of productos| slice:(page-1)*pageSize : (page-1) * pageSize + pageSize ">
              <div class="mx-auto card card-product">
                <div class="card-product-img">
                  <a [routerLink]="['/productos/', producto.id]" class="card-img-top">
                    <img src={{producto.ruta}} alt="Product image">
                  </a>
                </div>
                <div class="pb-2 card-body">
                  <h3 class="mb-2 card-product-title text-truncate">
                    <a [routerLink]="['/productos/', producto.id]" class="nav-link">{{producto.name}}</a>
                  </h3>
                  <div class="d-flex align-items-center">
                    <span class="mb-0 h5 d-inline-block">S/. {{producto.precio}}</span>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="pb-1 mb-2 d-flex align-items-center">
                    <div class="row">
                      <div class="col-12">
                        <a
                          [routerLink]=" ['/productos/categoria/', producto.principal.id, producto.categoria.id, producto.subcategoria.id]">{{producto.subcategoria.name}}</a>
                      </div>
                    </div>
                  </div>
                  <button *ngIf="!btn_cart" type="button" class="btn btn-primary btn-block"
                    (click)="agregar_producto(producto)">
                    <i class="mr-2 align-middle cxi-cart mt-n1"></i>
                    Agregar al carrito
                  </button>

                  <button *ngIf="btn_cart" type="button" class="btn btn-primary btn-block" disabled>
                    <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                    Agregando...
                  </button>
                </div>
              </div>
            </div> -->
          </ng-container>
        </div>
        <!-- Toolbar + Pagination -->
        <div class="d-flex align-items-center pt-md-4">
          <div class="pt-1 mr-3 form-inline flex-nowrap mr-xl-5">
            <label for="sorting-bottom" class="pr-1 mr-2 font-weight-bold text-nowrap d-none d-md-block">Ordenar
              por</label>
            <select id="sorting-bottom" class="custom-select" name="sort_by" [(ngModel)]="sort_by"
              (change)="ordenar_por()">
              <option value="Defecto">Defecto</option>
              <option value="Popularidad">Popularidad</option>
              <option value="+-Precio">Mayor a menor precio</option>
              <option value="-+Precio">Menor a mayor precio</option>
              <option value="azNombre">A - Z</option>
              <option value="zaNombre">Z - A</option>
            </select>
          </div>
          <div class="pt-1 mr-3 form-inline flex-nowrap d-none d-sm-flex mr-xl-5">
            <label for="pager-bottom" class="pr-1 mr-2 font-weight-bold text-nowrap d-none d-md-block">Ver</label>
            <select id="pager-top" class="custom-select" name="pageSize" [(ngModel)]="pageSize">
              <option value="12" selected>12</option>
              <option value="21">21</option>
              <option value="28">28</option>
            </select>
            <span class="ml-2 font-size-sm text-muted text-nowrap d-none d-md-block">productos por página</span>
          </div>
          <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="productos.length">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </section>

</main>

<app-footer></app-footer>
<app-modal-carrito [product]="productModal" *ngIf="productModal">
</app-modal-carrito>
