<div class="banner-discount">
  <div class="container d-flex justify-content-center">
    <div class="discount__texto">
      <span>Hasta</span>
      <span class="discount__texto--number"> 40 </span>
      <span class="discount__texto--dscto">
        <span class="dscto1">
          %
        </span>
        <span class="dscto2">
          dscto
        </span>
      </span>
    </div>
    <span class="discount__texto--upper">EN HERRAMIENTAS</span>
    <div class="discount__items">
      <div class="discount__img">
        <img alt="">
        <button> Ver productos </button>
      </div>
    </div>
  </div>
</div>
<div class="solo-x-hoy">
  <div class="container">
  </div>
</div>
<div class="banner-compra">
  <div class="container">
  </div>
</div>
