<div class="banner-descuento">
  <div class="banner-discount">
    <div class="container d-flex justify-content-center">
      <div class="discount_all_text d-flex justify-content-center align-items-center">
        <div class="discount__text">
          <span>Hasta</span>
          <span class="discount__text--number"> 40 </span>
          <span class="discount__text--dscto">
            <span class="dscto1">
              %
            </span>
            <span class="dscto2">
              dscto
            </span>
          </span>
        </div>
        <span class="discount__text--upper">EN HERRAMIENTAS</span>
      </div>
      <div class="discount__items">
        <div class="discount__img">
          <img alt="">
          <button> Ver productos </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="solo-x-hoy">
  <div class="container">
    <div class="card__top">
      <div class="card__top--text d-flex align-items-center">
        <h4 class="text-center">SOLO X </h4>
        <div class="hoy d-flex align-items-center ml-1">
          <h4>H</h4>
          <img src="../../../../assets/img/inicio/solo-x-hoy/watch.png">
          <h4> Y </h4>
        </div>
      </div>

      <div class="timer">
        <app-timer [date]="tiempoLimite" [bgColor]="'gray'"></app-timer>
      </div>
    </div>
    <div class="card__products">
      <div class="card__product">
        <div class="card__product__container">
          <div class="card__product__image" style="width: 150px; height: 150px; margin: 0 auto;">
            <img src="../../../../assets/img/productos/amoladorasyEsmeriles.png" alt="product-name">
          </div>
          <div class="card__product__detail mt-2">
            <div class="product__title">
              <span class="product__name"> DeWALT </span>
              <span> Rotomartillo</span>
              <span> 800W TE-RH 26/1 4F </span>
            </div>
            <div class="product__price">
              <span class="soles"> S/ </span>
              <span class="number">169</span>
              <span class="dismiss">.90</span>
            </div>
            <div class="product__price__info">
              <span>Precio online s/189.90</span>
              <span>Precio regular s/189.90</span>
            </div>

            <button class="mt-2"> ¡COMPRAR AHORA!</button>
          </div>
        </div>
      </div>
      <div class="card__product">
        <div class="card__product__container">
          <div class="card__product__image" style="width: 150px; height: 150px; margin: 0 auto;">
            <img src="../../../../assets/img/productos/amoladorasyEsmeriles.png" alt="product-name">
          </div>
          <div class="card__product__detail mt-2">
            <div class="product__title">
              <span class="product__name"> DeWALT </span>
              <span> Rotomartillo</span>
              <span> 800W TE-RH 26/1 4F </span>
            </div>
            <div class="product__price">
              <span class="soles"> S/ </span>
              <span class="number">169</span>
              <span class="dismiss">.90</span>
            </div>
            <div class="product__price__info">
              <span>Precio online s/189.90</span>
              <span>Precio regular s/189.90</span>
            </div>

            <button class="mt-2"> ¡COMPRAR AHORA!</button>
          </div>
        </div>
      </div>
      <div class="card__product">
        <div class="card__product__container">
          <div class="card__product__image" style="width: 150px; height: 150px; margin: 0 auto;">
            <img src="../../../../assets/img/productos/amoladorasyEsmeriles.png" alt="product-name">
          </div>
          <div class="card__product__detail mt-2">
            <div class="product__title">
              <span class="product__name"> DeWALT </span>
              <span> Rotomartillo</span>
              <span> 800W TE-RH 26/1 4F </span>
            </div>
            <div class="product__price">
              <span class="soles"> S/ </span>
              <span class="number">169</span>
              <span class="dismiss">.90</span>
            </div>
            <div class="product__price__info">
              <span>Precio online s/189.90</span>
              <span>Precio regular s/189.90</span>
            </div>

            <button class="mt-2"> ¡COMPRAR AHORA!</button>
          </div>
        </div>
      </div>
      <div class="card__product">
        <div class="card__product__container">
          <div class="card__product__image" style="width: 150px; height: 150px; margin: 0 auto;">
            <img src="../../../../assets/img/productos/amoladorasyEsmeriles.png" alt="product-name">
          </div>
          <div class="card__product__detail mt-2">
            <div class="product__title">
              <span class="product__name"> DeWALT </span>
              <span> Rotomartillo</span>
              <span> 800W TE-RH 26/1 4F </span>
            </div>
            <div class="product__price">
              <span class="soles"> S/ </span>
              <span class="number">169</span>
              <span class="dismiss">.90</span>
            </div>
            <div class="product__price__info">
              <span>Precio online s/189.90</span>
              <span>Precio regular s/189.90</span>
            </div>

            <button class="mt-2"> ¡COMPRAR AHORA!</button>
          </div>
        </div>
      </div>
      <div class="card__product">
        <div class="card__product__container">
          <div class="card__product__image" style="width: 150px; height: 150px; margin: 0 auto;">
            <img src="../../../../assets/img/productos/amoladorasyEsmeriles.png" alt="product-name">
          </div>
          <div class="card__product__detail mt-2">
            <div class="product__title">
              <span class="product__name"> DeWALT </span>
              <span> Rotomartillo</span>
              <span> 800W TE-RH 26/1 4F </span>
            </div>
            <div class="product__price">
              <span class="soles"> S/ </span>
              <span class="number">169</span>
              <span class="dismiss">.90</span>
            </div>
            <div class="product__price__info">
              <span>Precio online s/189.90</span>
              <span>Precio regular s/189.90</span>
            </div>

            <button class="mt-2"> ¡COMPRAR AHORA!</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="banner-descuento">
  <div class="container d-flex justify-content-center container-discount align-items-center">
    <div class="section_1 d-flex align-items-center justify-content-center">
      <div class="section_1__text">
        <span> COMPRA </span>
        <span> RECIBE </span>
      </div>
      <span> HOY </span>
    </div>
    <div class="container-offer  d-flex justify-content-center align-items-center pt-1 pb-2">
      <div class="section_2 ml-3  d-flex align-items-center">
        <div class="section_2__text">
          <span>MILES DE PRODUCTOS</span>
          <p>Con despacho el mismo dia para compras</p>
        </div>
      </div>

      <div class="container-line d-flex align-items-center justify-content-center mx-3">
        <div class="vertical-line"></div>
      </div>

      <div class="section_3 d-flex align-items-center">
        <div class="container-img">
          <img src="../../../../assets/img/store.png" alt="" width="80">
        </div>
        <div class="section_3__text ml-3">
          <span>COMPRA AHORA Y RECIBE</span>
          <p>Tus productos en menos de 24hrs.</p>
          <p class="info">*Servicio no disponible Sábados, domingos y feriados</p>
        </div>
      </div>
    </div>
  </div>
</div>
