<app-nav></app-nav>

<main class="cs-page-wrapper">
  <nav class="mb-3 bg-secondary" aria-label="breadcrumb">
    <div class="container">
      <ol class="mb-0 breadcrumb breadcrumb-alt">
        <li class="breadcrumb-item">
          <a href="index.html"><i class="cxi-home"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Iniciar Sesión</li>
      </ol>
    </div>
  </nav>

  <section class="container pt-3 pb-3 mb-4 pt-md-4 pb-sm-4 pb-lg-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="px-md-5">
          <h3 class="mt-4 mb-0 text-center modal-title mb-2">Iniciar Sesión</h3>
          <!-- <p class="text-center font-size-sm text-muted">Sign in to your account using email and password provided
            during registration.</p> -->
          <form [formGroup]="userForm" (ngSubmit)="onSaveForm()">
            <div class="form-group">
              <label for="signin-email">Correo electrónico</label>
              <input type="email" class="form-control" placeholder="Correo electrónico" required="" name="email"
                formControlName="email">
              <div class="alert-danger-customizer" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div class="container-error-message" *ngIf="email.errors.required">
                  Campo requerido
                </div>
                <div class="container-error-message"
                  *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                  Formato inválido
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="signin-password" class="form-label">Contraseña</label>
              <div class="cs-password-toggle input-group-overlay">
                <input [type]="fieldTextType ? 'text' : 'password'" class="form-control appended-form-control"
                  id="signin-password" placeholder="Contraseña" required="" name="password" formControlName="password">
                <div class="input-group-append-overlay">
                  <label class="btn cs-password-toggle-btn input-group-text">
                    <input type="checkbox" class="custom-control-input" (click)="toggleTypePass()">
                    <i class="cxi-eye cs-password-toggle-indicator"></i>
                    <span class="sr-only">Show password</span>
                  </label>
                </div>
              </div>
              <div class="alert-danger-customizer" *ngIf="password.invalid && (password.dirty || password.touched)">
                <div class="container-error-message" *ngIf="password.errors.required">
                  Campo requerido
                </div>
                <div class="container-error-message" *ngIf="password.errors.minlength">
                  Mínimo 8 caracteres
                </div>
              </div>
            </div>
            <!-- <div class="d-flex justify-content-between align-items-center form-group">
              <a href="#" class="font-size-sm text-decoration-none">Olvido su contraseña?</a>
            </div> -->
            <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
            <p class="pt-4 mb-0 font-size-sm">
              No tienes una cuenta?
              <a [routerLink]="['/registro']" class="font-weight-bold text-decoration-none">Regístrate</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>

</main>

<app-footer></app-footer>
