.timer {
  display: flex;
  text-align: center;
}
.timer .unit {
  padding: 0px 10px;
  margin: 0px;
}
.timer .unit strong {
  display: block;
  font-size: 33px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  border-radius: 12px;
  padding: 5px;
}

.bg-gray p strong {
  background-color: #4e4e4e !important;
  font-size: 20px !important;
}
.bg-gray .unit {
  padding: 0px 5px !important;
}

.timer .unit span {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 470px) {
  .timer .unit span {
    color: #000;
  }
  .bg-gray.timer .unit span {
    color: #fff;
  }
}

@media (max-width: 370px) {
  .timer .unit {
    padding: 0px 6px;
  }
  .timer .unit strong {
    font-size: 25px;
  }
}

@media (max-width: 300px) {
  .timer .unit {
    padding: 0px 2px;
  }
  .timer .unit strong {
    font-size: 22px;
  }
}
