.timer {
  display: flex;
  text-align: center;
}
.timer .unit {
  padding: 0px 10px;
  margin: 0px;
}
.timer .unit strong {
  display: block;
  font-size: 33px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  border-radius: 12px;
  padding: 5px;
}
.timer .unit span {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 470px) {
  .timer .unit span {
    color: #000;
  }
}

@media (max-width: 370px) {
  .timer .unit strong {
    font-size: 25px;
  }
}
