.timer {
  display: flex;
  text-align: center;
}
.timer .unit {
  padding: 1 px;
  padding: 10px;
}
.timer .unit strong {
  display: block;
  font-size: 33px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  border-radius: 12px;
  padding: 5px;
}
.timer .unit span {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
