/* oferta anuncio ================================================================================= */
.cintillo {
  background-color: #ff6e00;
  text-align: center;
}
.cintillo a {
  padding: 5px 0;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  word-spacing: 5px;
}
.cintillo a span.bold-text {
  font-weight: 800;
}

@media (max-width: 992px) {
  .cintillo a {
    padding: 5px 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;

    letter-spacing: 0px;
    word-spacing: 0px;
  }
}
@media (max-width: 780px) {
  .cintillo a {
    padding: 5px 40px;
    font-size: 28px;
    font-weight: 600;
  }
  .cintillo a span {
    display: block;
  }
}
@media (max-width: 550px) {
  .cintillo a {
    font-size: 25px;
    font-weight: 600;
  }
  .cintillo a span {
    display: inline;
  }
}
/* navbar ================================================================================= */
.navbar-principal {
  display: flex;
  justify-content: space-evenly;
}
.nav.nav-category {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}

.nav.nav-category .nav-link {
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.nav.nav-category .category-list-menu:not(:last-child) {
  /* border-right: 4px solid blue; */
}
.nav.nav-category .nav_icon {
  width: 30px;
}
.nav.nav-category .nav_name {
  font-size: 12px;
  font-weight: 800;
}
@media (max-width: 1300px) {
  .nav.nav-category .nav-link {
    width: auto;
  }
  .nav.nav-category .nav_name {
    font-size: 11px;
  }
  .nav.nav-category .nav_icon {
    width: 30px;
  }
}
@media (max-width: 1120px) {
  .nav.nav-category .nav_icon {
    display: none;
  }
  .nav.nav-category .nav_name {
    font-size: 12px;
  }
}

.nav.nav-category > .nav-item {
  /* height: 80px !important; */
  display: flex;
  align-items: center;
}
.nav.nav-category > .nav-item > a {
  color: rgb(216, 216, 216) !important;
  font-size: 14px;
}
.nav.nav-category > .nav-item:hover {
  background-color: #17696a !important;
}

.nav.nav-category > .nav-item:hover > a {
  color: #fff !important;
}

.nav.nav-category > .nav-item > .active {
  color: #fff !important;
}

.active-parent {
  background-color: #17696a !important;
}

.navbar .li-menu {
  padding: 2.3px;
}

.cs-header > .navbar {
  background: rgb(4, 209, 168) !important;
  background: linear-gradient(
    90deg,
    rgba(4, 209, 168, 1) 0%,
    rgba(18, 170, 141, 1) 100%
  ) !important;
}
.categorias-list > a {
  text-decoration: none;
  font-weight: 600;
}
.categorias-list > a:hover {
  text-decoration: underline;
}

.sub-categorias-list .dropdown-item:hover {
  text-decoration: underline;
}

/* Card carrito de compras /////////////////////////////////////////////////////// */
.cantPxCarrito {
  text-align: center;
  width: 4.5rem;
}

/* //precio de productos */
.content-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-title h3 {
  font-size: 14px;
  font-weight: 400;
}
.content-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prices label {
  text-align: left;
  position: relative;
  font-size: 15px;
  display: inline-block;
}
.prices label.prc1 {
  color: #000;
  font-weight: 400;
}
.prices label.precioOriginal {
  color: #000;
  font-weight: 400;
  font-size: 15px;
}
.prices label.precioDescuento {
  color: #ff6e00;
  font-weight: 800;
  font-size: 15px;
}
.prices label.prc1.cross span:after {
  content: "";
  display: block;
  width: 96%;
  height: 1px;
  border-top: 0.8px solid #000;
  position: absolute;
  top: 47%;
  right: -2px;
  transform: rotate(-18deg);
}
