<div class="modal fade" id="modalLocales">
  <div class="modal-dialog ">

  </div>
  <div class="layer-add-to-cart">
    <div class="add-content">
      <div class="header">
        <label class="title m-0">
          Elige tu almacén Ferri
        </label>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="body px-4">
        <div class="almacen__list d-flex">
          <div class="almacen text-center">
            <img src="../../../../assets/img/icons/almacen.png" width="170" alt="almacen-ferri">
            <label for="">Almacén Lima</label>
          </div>
          <div class="almacen text-center">
            <img src="../../../../assets/img/icons/almacen.png" width="170" alt="almacen-ferri">
            <label for="">Almacén Callao</label>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>
