<app-nav></app-nav>

<main class="cs-page-wrapper">
  <!-- Breadcrumb -->
  <nav class="mb-3 bg-secondary" aria-label="breadcrumb">
    <div class="container">
      <ol *ngIf="producto.principal" class="mb-0 breadcrumb breadcrumb-alt">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']"><i class="cxi-home"></i></a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <a [routerLink]="['/categoria/', producto.principal.id]"> {{producto.principal.name}}</a>
        </li>
        <li class="breadcrumb-item">
          <a
            [routerLink]="['/productos/categoria/', producto.principal.id, producto.categoria.id]">{{producto.categoria.name}}</a>
        </li>
        <li class="breadcrumb-item">
          <a
            [routerLink]="['/productos/categoria/',producto.principal.id, producto.categoria.id, producto.subcategoria.id]">{{producto.subcategoria.name}}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{producto.name}}</li>
      </ol>
    </div>
  </nav>



  <!-- Single product -->
  <section class="container py-5 mb-2 py-md-6">
    <div class="row">
      <div class="mb-4 col-md-6 mb-md-0">

        <!-- Product gallery -->
        <div class="mx-auto cs-carousel cs-gallery cs-product-gallery" style="max-width: 570px;">
          <div class="cs-carousel-inner" data-carousel-options=''>

            <!-- Product gallery item -->
            <a *ngFor="let item of producto.galeria; let indice = index" class="cs-gallery-item" href={{item.ruta}}
              data-sub-html='<h6 class="text-light">Gallery image caption #1</h6>'>
              <img class="rounded" src={{item.ruta}} alt="Carousel image">
              <span class="cs-gallery-caption">Imagen #{{indice+1}}</span>
            </a>

          </div>

          <!-- Product gallery thumbnails -->
          <div class="cs-thumbnails" id="cs-thumbnails">
            <button *ngFor="let item of producto.galeria; let indice = index" type="button" [attr.data-nav]="indice">
              <img src={{item.ruta}} alt="Thumbnail">
            </button>
          </div> -
        </div>
      </div>
      <div class="col-md-6 pl-xl-5">
        <div class="title-product w-100">
          <h4 class="mb-2 mb-md-0">{{producto.name}}</h4>
        </div>

        <span class="text-muted"> nombre_marca | SKU: {{producto.sku}}</span>

        <div class="my-4">

          <!-- Precio -->
          <!-- <div class="mb-4 d-flex align-items-center mb-sm-0">
            <span class="mb-0 h3 d-inline-block text-danger">S/.{{producto.precioOriginal}}</span>
          </div> -->

          <!-- precio copiado  -->
          <div class="price-seller-cnt">
            <div class="price">
              <span class="flag">-29% </span>
              <i>Oferta</i>
              <em>S/ </em>
              <span>3599</span>
            </div>
            <div class="listprice">
              <i>Regular</i>
              <em>S/ </em>
              <span>5,078</span>
              <sup>.90 </sup>
            </div>
          </div>
        </div>


        <!-- Ordering form -->
        <form class="row content-botones">

          <!-- Cantidad de producto -->
          <div class="m-0 content-cantidad row">
            <div class="btn-group me-2" role="group">
              <button (click)="reduceProduct()" type="button" class="p-0 m-0 btn btn-outline-secondary">
                <i class="cxi-minus"></i>
              </button>

              <input type="text" class="btn btn-outline-secondary btn-content-input" size="1" value="1" name="cantidad"
                [(ngModel)]="dataCarrito.cantidad" />

              <button (click)="addProduct()" type="button" class="p-0 m-0 btn btn-outline-secondary">
                <i class="cxi-plus"></i>
              </button>
            </div>

          </div>

          <div class="botones-agregar row">
            <div class="col">
              <button *ngIf="!btn_cart" class="btn" (click)="agregar_producto()">
                <i class="mr-2 cxi-cart"></i>
                Agregar
              </button>

              <button *ngIf="btn_cart" type="button" class="btn" disabled>
                <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                Agregando...
              </button>

            </div>
            <div class="col">
              <button *ngIf="!btn_cart" class="btn" (click)="agregar_producto()">
                Realizar Pago
              </button>

              <button *ngIf="btn_cart" type="button" class="btn" disabled>
                <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                Agregando...
              </button>

            </div>
          </div>

        </form>


        <div class="mt-4 mb-3 metodos-entrega">
          <h3>Métodos de entrega</h3>
          <div class="metodos-content">
            <div class="metodo-box">
              <div class="aval-icon">
                <i class="fas fa-location-arrow"></i>
              </div>
              <div class="aval-list">
                <span class="aval-title">Despacho express</span>
                <div class="date">No disponible</div>

              </div>
              <div class="aval-lnk">Ver distritos
                <i class="cxi-angle-right"></i>
              </div>
            </div>
            <div class="metodo-box disponible">

              <div class="aval-icon">
                <i class="fas fa-truck-moving"></i>
              </div>
              <div class="aval-list">
                <span class="aval-title">Despacho programado</span>
                <div class="date">Desde el <span>7 de dic. a partir de S/25</span></div>
              </div>
              <div class="aval-lnk">Calcular <i class="cxi-angle-right"></i></div>
            </div>
            <div class="metodo-box disponible">
              <div class="aval-icon">
                <i class="fas fa-store-alt"></i>
              </div>
              <div class="aval-list">
                <span class="aval-title">Retiro en tienda</span>
                <div class="date">Desde el <b>7 de dic. Gratis</b></div>
              </div>
              <div class="aval-lnk">Ver tiendas
                <i class="cxi-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="my-3 stock">
          <button class="btn-stock"> <i class="fas fa-box-open"></i> Consultar Stock <i class="cxi-angle-right"></i>
          </button>
        </div>
        <div class="my-3 devoluciones">
          <div class="text-devoluciones">
            <i class="mr-2 fas fa-exchange-alt"></i> <span> Cambios y devoluciones:</span> Tienes hasta 90 días desde la
            recepción de tu
            producto para realizar tus cambios y devoluciones.
          </div>
        </div>

      </div>
    </div>
  </section>

</main>
<app-footer></app-footer>